.groups {
    all: unset;
}

.group {
    all: unset;
    display: block;
    border: 2px solid #aaa;
}

.group + .group {
    margin-top: -2px;
}

.group__header {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 2px dashed #aaa;
    margin-bottom: -2px;
}

.group__open {
    margin-right: 16px;
}

.group__content {
    padding: 8px 0;
}

.contentPlaceholder {
    text-align: center;
    color: #aaa;
    user-select: none;
}

.group__content_hidden {
    display: none;
}

.group__item {
    padding: 0 8px;
}

.group__item {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: transparent;
}

.group__item:hover {
    border-color: #ddd;
}

.group__item + .group__item {
    margin-top: 8px;
}

.todo {
    display: flex;
}

.todo__content {
    flex-grow: 1;
}

.todo__toggle {
    margin-right: 16px;
    align-self: center;
}

.todo__updatedAt {
    text-align: right;
    color: #aaa;
    user-select: none;
}
