:root {
  font-family: monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: monospace;
}

.page {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.button {
  background-color: transparent;
  border: none;
  color: #211990;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  padding: 0;
  padding-bottom: 2px;
  text-align: center;
  text-decoration: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.button:hover, .button:focus {
  outline: none;
  background-color: #ddd;
}

.button::before {
  content: "[";
  margin-right: 1rem;
}

.button::after {
  content: "]";
  margin-left: 1rem;
}

.projects {
  padding-inline: 0
}

.project {
  list-style-type: none;
  cursor: pointer;
  padding-left: 0;
  transition: .2s ease-in;
  text-decoration: underline;
  text-decoration-color: transparent;
}

.project:hover, .project:focus {
  text-decoration-color: #aaa;
  outline: none;
}

.project__id {
  color: #aaa;
}

.project__last-update {
  opacity: 0;
  color: #aaa;
  transition: .2s ease-in;
}

.project:hover .project__last-update,
.project:focus .project__last-update {
  opacity: 1;
}
