:root {
  font-family: monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: monospace;
}

.page {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.page_wide {
  max-width: 1024px;
}

.button {
  background-color: transparent;
  border: none;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  max-height: 1.2em;
  padding: 0;
  padding-bottom: 2px;
  text-align: center;
  text-decoration: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.button_primary {
  color: #2b21b1;
}

.button:hover, .button:focus {
  outline: none;
  background-color: #ddd;
}

.button::before {
  content: "[";
  margin-right: 1rem;
}

.button::after {
  content: "]";
  margin-left: 1rem;
}

.button_small::before {
  margin-right: 0;
}

.button_small::after {
  margin-left: 0;
}

.field_row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.field__label {
  display: block;
}

.field__input {
  all: unset;
  border: 2px solid #AAA;
  padding: 2px;
  font-size: 14px;
  line-height: 1;
}

.field__input:focus {
  background-color: #ddd;
}

.field__error {
  font-size: 12px;
  color: #f00;
}
